h1 {
            color: aqua;
        }


        body {

            background-image: url(../Imagens/pellizzon-jeri-0168.jpg);
        }


        div {
            width: 200px;
            height: 100px;
            padding: 20px;
            background-color: aquamarine;
            border: 3px solid black;
            border-radius: 40px;
        }

        #ibutton {

            color: blue;
            animation: animate 4.0s linear infinite;
        }

        @keyframes animate {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 0.7;
            }

            100% {
                opacity: 0;
            }
        }