body {
    background-color: rgb(41, 190, 228);
}

h1 {

    animation: animate 2.0s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}
